.detail_header {
    background-color: #424242;
    color: #fff;

}

.DetailView {
    box-shadow: 0px 0px 91px -6px rgba(0,0,0,0.38);
    margin-top: 20px;
}

.details {
    background-color: #52515107;
}

.detail_star .star_tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.548);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
  }
  
  .detail_star .star_tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.692);
  }
  
  .detail_star:hover .star_tooltiptext {
    visibility: visible;
    transform: scale(0.8);
  }