.movieCard {
    margin: 20px;
    width: 200px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 1px solid lightgray;

    cursor: pointer;
}

.movieCard:hover {
    box-shadow: 0px 0px 91px -6px rgba(0,0,0,0.38);
    transform: scale(1.05, 1.05);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.movieCard > img {
    width: 198px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.notFound {
    object-fit: contain !important;
}

.movieCard > p {
    font-size: 16px;
    font-weight: 300;

    width: 200px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    line-height: 50px;
}

.moviePoster {
    object-fit: contain;
}