body {
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;    
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-template-rows: 340px;
  justify-content: center;
}

.movieCard {
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: #080808c4;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    /*border: 1px solid #080808;*/

    cursor: pointer;
}

.movieCard:hover {
    box-shadow: 0px 0px 91px -6px rgba(0,0,0,0.38);
    transform: scale(1.05, 1.05);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}
.hover-content {
    position: absolute;
    right: 0;
    top: 0;
    display:none;
}

.star {
  margin: 10px;
}

.movieCard:hover .hover-content {
    display:block;
    z-index: 999;
    
}

.movieCard .hover-content:hover {
  z-index: 999;
  transform: scale(1.2);
  }

.posterImage {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.bigboymovieCard {
  grid-column: span 2;
  grid-row: span 2;
  margin: 20px;
  width: 440px;
  height: 640px;
  border-radius: 10px;
  background-color: white;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.bigboymovieCard:hover {
  box-shadow: 0px 0px 91px -6px rgba(0,0,0,0.38);
  transform: scale(1.05, 1.05);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  

}

.posterImageBig {
  width: 440px;
  height: 640px;
  object-fit: cover;
  border-radius: 10px;
}

.notFound {
    object-fit: contain !important;
}

.movieCard > p {
    font-size: 16px;
    font-weight: 300;

    width: 200px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    line-height: 50px;
}

.moviePoster {
    object-fit: contain;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .hover-content .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.548);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
  }
  
  .hover-content .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.692);
  }
  
  .hover-content:hover .tooltiptext {
    visibility: visible;
    transform: scale(0.8);
  }